body {
    margin: 0;
    padding:0;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    background: #333;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2:after {
	content: ;
}
h1, h2 {
	font-weight: 500;
}

a.error {
	color: #aaa;
	text-decoration: none;
	border-bottom: 0px solid #aaa;
	transition: all 0.3s;
}
a.error:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}
