body {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    background: #333;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2:after {
	content: ;
}
h1, h2 {
	font-weight: 500;
}
