<nav>
    <ul class="next-previous-nav">

        {% if collections.john %}
        {% set nextPhoto = collections.john | getNextCollectionItem %}
        {% set previousPhoto = collections.john | getPreviousCollectionItem %}
            {% if nextPhoto %}
                <li><a href="{{ nextPhoto.url }}">&larr; Previous Photo</a></li>
            {% endif %}
            {% if previousPhoto %}
                <li><a href="{{ previousPhoto.url }}">Next Photo &rarr;</a></li>
            {% endif %}

        {% endif %}

        <li><a href="/john/" class="next-link">John's Photos &uarr;</a></li>
        <li><a href="/">All Photos &uarr;</a></li>
    </ul>

    {# <ul class="next-previous-nav">

        {% if collections.photos %}
        {% set nextPhoto = collections.photos | getNextCollectionItem %}
        {% set previousPhoto = collections.photos | getPreviousCollectionItem %}
            {% if nextPhoto %}
                <li><a href="{{ nextPhoto.url }}">&larr; Previous Photo</a></li>
            {% endif %}
            {% if previousPhoto %}
                <li><a href="{{ previousPhoto.url }}">Next Photo &rarr;</a></li>
            {% endif %}

        {% endif %}

        <li><a href="/john/" class="next-link">See all photos &uarr;</a></li>
    </ul> #}
</nav>