---
layout: layouts/base.njk
title: Photos
description: A home for some photos.
---

<main class="container container-xl flow text-center">
    <h1 class="photo-header">{{title}}</h1>
    <p><a href="/john">John's Photos</a></p>
</main>