---
layout: layouts/base.njk
title: All Photos
description: A home for some photos.
pagination: 
    data: collections.photos
    size: 20
    alias: photos
    reverse: true
---

<main id="main" class="container container-xl flow">
    <h1 class="font-xl photo-header">{{title}}</h1>
    <ul class="photo-grid">
        {% for photo in photos %} 
            <li>
                <a href="{{photo.url}}">
                    <img src="/files/{{photo.data.imageBase}}/{{photo.data.imageBase}}_2000.jpg" alt="{{photo.data.alt}}" {% if photo.data.orientation === "portrait" %} eleventy:widths="500" {% else %} eleventy:widths="667" {% endif %} {% if loop.index <= 4 %} loading="eager" fetchpriority="high" decoding="sync" {% endif %}>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if pagination.hrefs.length > 1 %}
        <nav aria-labelledby="my-pagination" class="pagination">
        <h2 id="my-pagination" class="visually-hidden">Pagination</h2>
        <ul>
            {% if pagination.href.previous %}
                <li>
                    <a href="{{ pagination.href.previous }}">&larr; Previous</a>
                </li>
            {% endif %}
            {%- for pageEntry in pagination.pages %}
            {% if page.url == pagination.hrefs[ loop.index0 ] %}
                <li aria-current="page">
                    {{ loop.index }}
                </li>
            {% else %}
            <li>
                <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
            </li>
            {% endif %}
            {%- endfor %}
            {% if pagination.href.next %}
                <li>
                    <a href="{{ pagination.href.next }}">Next &rarr;</a>
                </li>
            {% endif %}
        </ul>
        </nav>
    {% endif %}
</main>